/* General body styles */
html, body { height: 100%; margin: 0; padding: 0; display: flex; flex-direction: column; background-color: #e98426 ; }

.main-content { flex: 1; }

/* Navigation styles */
nav {
  background-color: #c9ed4c;
  color: #000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  font-family: Arial, sans-serif;
}

nav a:hover {
  color: #e98426;
}

/* Main content styles */
main {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Home component styles */
.home-container {
  text-align: center;
  margin: 20px;
}

.abt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.about-image {
  flex: 1;
  text-align: right;
}

.home-container {
  text-align: center;
  margin: 20px;
}

.abt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.about-text {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: #000;
  box-shadow: 0 0 10px 5px;
}

.button {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 12rem; 
  margin-left: 1rem;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg,
        #4fcf70, #fad648, 
        #a767e5,#12bcfe, 
        #44ce7b);
  background-size: 50% 100%;
  border-radius: inherit;
}

.button:hover::before {
  animation: animate_border .75s
        linear infinite;
}

.button span {
  position: relative;
  z-index: 2;
  display: block;
  background-color: #000;
  padding: 13px 20px;
  border-radius: 3px;
}

@keyframes animate_border {
  to {
    transform: translateX(-50%)
  }
}

/* Poducts container */
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e98426;
}

.product-header {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.product {
  background-color: #eff387;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #555;
}

.product p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #777;
}

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover { 
  letter-spacing: 3px; 
  background-color: hsl(261deg 80% 48%); 
  color: hsl(0, 0%, 100%); 
  box-shadow: rgb(255, 165, 0) 0px 7px 29px 0px; 
} 
button:active { 
  letter-spacing: 3px; 
  background-color: hsl(261deg 80% 48%); 
  color: hsl(0, 0%, 100%); 
  box-shadow: rgb(255, 165, 0) 0px 0px 0px 0px;  
  transform: translateY(10px); 
  transition: 100ms ;
}

* {
  margin: 0;
  padding: 0;
}


/* Cart Container */
.cart-container {
  max-width: 800px;
  margin: 5rem auto;
  padding: 20px;
  background-color: #eff387;
  border-color: #000;
  border-radius: 8px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.cart-container p {
  text-align: center;
  color: #777;
  font-size: 18px;
}

.cart-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 90%;  /* Reduced card size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cart-item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #555;
}

.cart-item p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #777;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#add{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(42, 167, 42);
}

#subtract{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(210, 30, 30);
}

button {
  background-color: rgb(255, 167, 104);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  flex: 1;  /* Ensures equal width */
}

button:hover {
  background-color: rgb(230, 150, 90);
}


.custom-button {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem; /* text-lg */
  background-color: rgb(230, 150, 90); /* bg-gray-50 */
  backdrop-filter: blur(10px); /* backdrop-blur-md */
  font-weight: 600; /* lg:font-semibold */
  position: relative;
  border: 2px solid #f9fafb; /* border-gray-50 */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 9999px; /* rounded-full */
  overflow: hidden;
  cursor: pointer;
}

.custom-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #10b981; /* bg-emerald-500 */
  transition: all 0.7s;
  left: -100%;
  border-radius: 9999px;
  z-index: -1;
}

.custom-button:hover::before {
  left: 0;
}

.custom-button:hover {
  color: #f9fafb; /* text-gray-50 */
}

.custom-button svg {
  width: 2rem; /* w-8 */
  height: 2rem; /* h-8 */
  border: 1px solid #374151; /* border-gray-700 */
  padding: 0.5rem; /* p-2 */
  border-radius: 9999px; /* rounded-full */
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg);
}

.custom-button:hover svg {
  transform: rotate(90deg);
  background-color: #f9fafb; /* bg-gray-50 */
  border: none;
}

.custom-button svg path {
  fill: #1f2937; /* fill-gray-800 */
}

.custom-button:hover svg path {
  fill: #1f2937; /* fill-gray-800 */
}


.footer-container {
  background-color: #c9ed4c; /* Dark background color */
  color: #000; /* White text color */
  padding: 20px; /* Padding around the footer */
  text-align: center; /* Centered text */
  font-family: Arial, sans-serif;

}

.footer-container p {
  margin: 0; /* No margin for the paragraphs */
  padding: 5px 0; /* Vertical padding for spacing */  
  
}

.footer-links {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
  margin: 10px 0 0; /* Margin at the top of the list */
  display: flex;
  justify-content: center; /* Center the links horizontally */
  gap: 20px; /* Space between links */
  font-family: Arial, sans-serif;

}

.footer-links li {
  display: inline; /* Inline items */
}

.footer-links a {
  color: #000; /* White text color */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
  font-family: Arial, sans-serif;

}

.footer-links a:hover {
  color: #ff8c00; /* Orange color on hover */
}
